<template>
  <article class="post">
    <v-btn
      class="mt-5 mb-10"
      @click="$router.push('/')"
    >
      <v-icon>mdi-chevron-left</v-icon>
      back
    </v-btn>
    <header class="post__title">
      <div class="d-flex justify-space-between align-center">
        <div>
          <span class="text-h3">Post Title</span>
        </div>
        <div>
          <v-icon color="secondary">
            mdi-eye-outline
          </v-icon>
          <span class="secondary--text text-body-1 ml-2">62</span>
        </div>
      </div>
    </header>
    <main class="post__content">
      <v-img
        max-height="800"
        class="mt-5"
        src="https://bigseventravel.com/wp-content/uploads/2019/10/lucky-1.jpg"
      />
      <div class="post__content__text mt-10 mb-15">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab ducimus hic numquam odio. Animi distinctio iure magni minus neque sapiente.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab ducimus hic numquam odio. Animi distinctio iure magni minus neque sapiente.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab ducimus hic numquam odio. Animi distinctio iure magni minus neque sapiente.</p>
      </div>
    </main>
    <footer class="post__footer">
      <comment-form
        v-if="isShowCommentForm"
        @created="createdCommentHandler"
      />

      <div v-if="true" class="mt-10">
        <comment
          v-for="comment in 4"
          :key="comment"
          :comment="comment"
        />
      </div>
      <div v-else class="text-center mt-10">
        <span class="text-h4 secondary--text">No comments</span>
      </div>
    </footer>
  </article>
</template>

<script>
import Comment from '@/components/blog/Comment'
import CommentForm from '@/components/blog/CommentForm'

export default {
  name: 'Id',
  components: {
    Comment,
    CommentForm
  },
  validate ({ params }) {
    return !!params.id
  },
  data: () => ({
    isShowCommentForm: true
  }),
  methods: {
    createdCommentHandler () {
      this.isShowCommentForm = false
      console.log('create')
    }
  }
}
</script>
