<template>
  <section class="admin-create">
    <v-card elevation="0">
      <v-card-title>
        <h2>
          Create post
        </h2>
      </v-card-title>
      <v-card-text>
        <v-form ref="form" v-model="valid" class="login-page__form mx-auto mt-10" @submit.native.prevent>
          <v-text-field
            v-model="model.title"
            label="Title"
            required
            :rules="[v => !!v || 'Title is required']"
          />
          <v-textarea
            v-model="model.text"
            outlined
            no-resize
            rows="10"
            row-height="15"
            label="Text in .md or .html format"
            :rules="[v => !!v || 'Text is required']"
            type="textarea"
            required
          />
          <v-file-input
            v-model="image"
            label="Image input"
            accept="image/*"
            @change="handleImageChange"
          />
          <v-img
            :src="imageUrl"
            :max-height="image ? '311' : '0'"
            :max-width="image ? '500' : '0'"
            class="mb-2"
          />
          <div class="d-flex justify-space-between align-center">
            <v-dialog
              transition="dialog-bottom-transition"
              max-width="600"
            >
              <template #activator="{ on, attrs }">
                <v-btn
                  color="primary"
                  v-bind="attrs"
                  v-on="on"
                >
                  Preview
                </v-btn>
              </template>
              <template #default="dialog">
                <v-card>
                  <v-toolbar
                    color="secondary"
                    dark
                  >
                    <span class="text-h4">
                      Post preview
                    </span>
                  </v-toolbar>
                  <v-card-text>
                    <div :key="model.text" class="py-3">
                      <vue-markdown>
                        {{ model.text }}
                      </vue-markdown>
                    </div>
                  </v-card-text>
                  <v-card-actions class="justify-end">
                    <v-btn
                      text
                      @click="dialog.value = false"
                    >
                      Close
                    </v-btn>
                  </v-card-actions>
                </v-card>
              </template>
            </v-dialog>
            <v-btn
              :loading="createPostLoading"
              color="secondary"
              class=""
              @click="submit"
            >
              Create
            </v-btn>
          </div>
        </v-form>
      </v-card-text>
    </v-card>

    <app-snackbar
      :snackbar="snackbar"
      @changeSnackbarState="changeSnackbarState"
    />
  </section>
</template>

<script>
import { mapActions } from 'vuex'
import AppSnackbar from '@/components/messager'

export default {
  name: 'CreatePost',
  components: {
    AppSnackbar
  },
  layout: 'admin',
  middleware: ['auth'],
  data () {
    return {
      image: null,
      snackbar: {
        state: false,
        snackbarColor: '',
        snackbarMessage: ''
      },
      createPostLoading: false,
      valid: true,
      model: {
        title: '',
        text: ''
      }
    }
  },
  computed: {
    // eslint-disable-next-line vue/return-in-computed-property
    imageUrl () {
      if (this.image) {
        return URL.createObjectURL(this.image)
      }
    }
  },
  methods: {
    ...mapActions({
      create: 'posts/createAdminPost'
    }),
    handleImageChange (image) {
      this.image = image
    },
    changeSnackbarState (val) {
      this.snackbar.state = val
    },
    async submit () {
      const isValidForm = this.$refs.form.validate()
      if (isValidForm && this.image) {
        this.createPostLoading = true
        const formData = {
          title: this.model.title,
          text: this.model.text,
          image: this.image
        }

        try {
          await this.create(formData)
          this.createPostLoading = false
          this.model = {
            title: '',
            text: ''
          }
          this.image = null
          URL.revokeObjectURL(this.image)
          this.snackbar = {
            state: true,
            snackbarMessage: 'Post was created',
            snackbarColor: 'success'
          }
        } catch (e) {
          this.createPostLoading = false
          this.snackbar = {
            state: true,
            snackbarMessage: e,
            snackbarColor: 'red'
          }
        }
      } else {
        this.snackbar = {
          state: true,
          snackbarMessage: 'The form is not valid!',
          snackbarColor: 'warning'
        }
      }
    }
  }
}
</script>
