<template>
  <section class="posts-list">
    <v-card elevation="0">
      <v-card-title>
        <h2>Posts List</h2>
      </v-card-title>
      <v-card-text>
        <v-data-table
          :headers="headers"
          :items="posts"
        >
          <template #item.date="{ item }">
            {{ new Date(item.date).toLocaleString() }}
          </template>
          <template #item.comments="{ item }">
            {{ item.comments.length }}
          </template>
          <template #item.actions="{ item }">
            <v-tooltip top>
              <template #activator="{ on, attrs }">
                <v-icon
                  class="mr-2"
                  v-bind="attrs"
                  v-on="on"
                  @click="editItem(item)"
                >
                  mdi-pencil
                </v-icon>
              </template>
              <span>Open</span>
            </v-tooltip>
            <v-tooltip top>
              <template #activator="{ on, attrs }">
                <v-icon
                  v-bind="attrs"
                  v-on="on"
                  @click="deleteItem(item)"
                >
                  mdi-delete
                </v-icon>
              </template>
              <span>Delete</span>
            </v-tooltip>
          </template>
        </v-data-table>
      </v-card-text>
    </v-card>
    <app-snackbar
      :snackbar="snackbar"
      @changeSnackbarState="changeSnackbarState"
    />
  </section>
</template>

<script>
import { mapActions } from 'vuex'
import AppSnackbar from '@/components/messager'

export default {
  name: 'PostsList',
  components: {
    AppSnackbar
  },
  layout: 'admin',
  middleware: ['auth'],
  async asyncData ({ store }) {
    const posts = await store.dispatch('posts/getAdminPosts')
    return { posts }
  },
  data () {
    return {
      snackbar: {
        state: false,
        snackbarMessage: '',
        snackbarColor: ''
      }
    }
  },
  computed: {
    // eslint-disable-next-line vue/return-in-computed-property
    headers () {
      if (this.posts.length) {
        const arr = []
        Object.keys(this.posts[0]).forEach((item) => {
          const obj = {
            text: item[0].toUpperCase() + item.slice(1),
            value: item
          }
          arr.push(obj)
        })
        arr.push({ text: 'Actions', value: 'actions', sortable: false })
        return arr
      }
    }
  },
  methods: {
    ...mapActions({
      deletePost: 'posts/deleteAdminPost'
    }),
    changeSnackbarState (val) {
      this.snackbar.state = val
    },
    editItem (item) {
      this.$router.push(`/admin/post/${item._id}`)
    },
    async deleteItem (item) {
      try {
        await this.deletePost(item._id)
        this.posts = this.posts.filter(post => +post._id !== +item._id)
        this.snackbar = {
          state: true,
          snackbarMessage: 'Post was deleted!',
          snackbarColor: 'success'
        }
      } catch (e) {
        this.snackbar = {
          state: true,
          snackbarMessage: e,
          snackbarColor: 'red'
        }
      }
    }
  }
}
</script>
