<template>
  <v-container class="login-page d-flex justify-center">
    <div class="d-flex justify-center flex-column mt-10">
      <span class="w-100 secondary--text font-weight-bold login-page__header">
        Welcome to admin panel
      </span>
      <v-form ref="form" v-model="valid" class="login-page__form mx-auto mt-10" @submit.native.prevent>
        <v-text-field
          v-model="model.login"
          clearable
          label="Login"
          required
          :rules="[v => !!v || 'Name is required']"
        />
        <v-text-field
          v-model="model.password"
          label="Password"
          :rules="[v => !!v || 'Password is required']"
          clearable
          type="password"
          required
        />
        <v-btn
          :loading="loginLoading"
          color="secondary"
          class="d-block ml-auto"
          @click="submit"
        >
          Submit
        </v-btn>
      </v-form>
      <app-snackbar
        :snackbar="snackbar"
        @changeSnackbarState="changeSnackbarState"
      />
    </div>
  </v-container>
</template>

<script>
import AppSnackbar from '@/components/messager'
import { mapActions } from 'vuex'

export default {
  name: 'Login',
  components: {
    AppSnackbar
  },
  layout: 'empty',
  data: () => ({
    snackbar: {
      state: false,
      snackbarMessage: '',
      snackbarColor: ''
    },
    loginLoading: false,
    valid: true,
    model: {
      login: '',
      password: ''
    }
  }),
  mounted () {
    switch (this.$route.query.message) {
      case 'login':
        this.snackbar = {
          state: true,
          snackbarMessage: 'You need to login.',
          snackbarColor: 'red'
        }
        break
      case 'logout':
        this.snackbar = {
          state: true,
          snackbarMessage: 'You have successfully completed the session.',
          snackbarColor: 'green'
        }
        break
    }
  },
  methods: {
    ...mapActions({
      login: 'auth/login'
    }),
    changeSnackbarState (value) {
      this.snackbar.state = value
    },
    async submit () {
      const isValidForm = this.$refs.form.validate()
      if (isValidForm) {
        this.loginLoading = true
        const formData = {
          login: this.model.login,
          password: this.model.password
        }

        try {
          await this.login(formData)
          await this.$router.push({ path: '/admin' })
        } catch (e) {
          this.loginLoading = false
          console.log(e.message)
        }
      }
    }
  }
}
</script>
