<template>
  <section class="users-list">
    <v-card elevation="0">
      <v-card-title class="d-flex justify-space-between mx-2">
        <h2>Users list</h2>
        <v-dialog
          v-model="dialog"
          width="500"
        >
          <template #activator="{ on, attrs }">
            <v-btn
              fab
              small
              color="secondary"
              v-bind="attrs"
              v-on="on"
            >
              <v-icon dark>
                mdi-plus
              </v-icon>
            </v-btn>
          </template>

          <v-card>
            <v-card-title class="headline">
              Add user
            </v-card-title>

            <v-card-text>
              <v-form ref="addUserForm" v-model="valid" @submit.native.prevent>
                <v-text-field
                  v-model="model.name"
                  label="Name"
                  required
                  :rules="[v => !!v || 'Name is required']"
                />
                <v-text-field
                  v-model="model.password"
                  type="password"
                  label="Password"
                  required
                  :rules="[v => !!v || 'Password is required']"
                />
              </v-form>
            </v-card-text>

            <v-divider />

            <v-card-actions>
              <v-spacer />
              <v-btn
                plain
                class="mr-5"
                @click="dialogClose"
              >
                Close
              </v-btn>
              <v-btn
                :loading="addUserLoading"
                color="secondary"
                @click="submit"
              >
                Submit
              </v-btn>
            </v-card-actions>
          </v-card>
        </v-dialog>
      </v-card-title>
    </v-card>
    <app-snackbar
      :snackbar="snackbar"
      @changeSnackbarState="changeSnackbarState"
    />
  </section>
</template>

<script>
import AppSnackbar from '@/components/messager'
import { mapActions } from 'vuex'

export default {
  name: 'UsersList',
  components: {
    AppSnackbar
  },
  layout: 'admin',
  middleware: ['auth'],
  data: () => ({
    snackbar: {
      state: false,
      snackbarMessage: '',
      snackbarColor: ''
    },
    dialog: false,
    valid: true,
    model: {
      name: '',
      password: ''
    },
    addUserLoading: false
  }),
  methods: {
    ...mapActions({
      create: 'user/createUser'
    }),
    changeSnackbarState (value) {
      this.snackbar.state = value
    },
    dialogClose () {
      this.dialog = false
      this.resetModel()
      this.$refs.addUserForm.resetValidation()
    },
    resetModel () {
      this.model = {
        name: '',
        password: ''
      }
    },
    async submit () {
      this.addUserLoading = true
      const isValidForm = this.$refs.addUserForm.validate()
      if (isValidForm) {
        this.addCommentLoading = true

        const formData = {
          name: this.model.name,
          password: this.model.password
        }

        try {
          await this.create(formData)
          this.resetModel()
          this.addUserLoading = false
          this.snackbar = {
            state: true,
            snackbarMessage: 'User was added',
            snackbarColor: 'success'
          }
        } catch (e) {
          this.snackbar = {
            state: true,
            snackbarMessage: e,
            snackbarColor: 'red'
          }
          this.addUserLoading = false
        }
      }
    }
  }
}
</script>
