.sidebar-menu {
  .active-menu-link {
    color: $secondary-color !important;
  }
  &__link {
    display: flex;
    align-items: center;
    text-decoration: none;
    width: 100%;
    height: 100%;
    color: $white-color !important;
  }
}
