<template>
  <v-snackbar
    v-model="computedSnackbar"
    top
    :color="snackbar.snackbarColor"
    :timeout="3000"
  >
    <span class="white--text">
      {{ snackbar.snackbarMessage }}
    </span>

    <template #action="{ attrs }">
      <v-btn
        color="white"
        v-bind="attrs"
        text
        @click="computedSnackbar = false"
      >
        Close
      </v-btn>
    </template>
  </v-snackbar>
</template>

<script>
export default {
  name: 'Messager',
  props: {
    // eslint-disable-next-line vue/require-default-prop
    snackbar: Object
  },
  computed: {
    computedSnackbar: {
      get () {
        return this.snackbar.state
      },
      set (nV) {
        this.$emit('changeSnackbarState', nV)
      }
    }
  }
}
</script>
