// Ref: https://github.com/nuxt-community/vuetify-module#customvariables
//
// The variables you want to modify
// $font-size-root: 20px;

$primary-color: #1976d2;
$accent-color: #424242;
$secondary-color: #ff8f00;
$warning-color: #ffc107;
$info-color: #26a69a;
$error-color: #dd2c00;
$success-color: #00e676;
$black-color: #000;
$white-color: #fff;
