.login-page {
  height: 100vh;
  &__form {
    max-width: 500px;
    width: 100%;
  }
  &__header {
    font-size: 100px;
  }
  @media (max-width: 1300px) {
    &__header {
      font-size: 60px;
    }
  }
  @media (max-width: 710px) {
    &__header {
      text-align: center;
      font-size: 30px;
    }
  }
}
