<template>
  <section class="admin-post-item">
    <v-breadcrumbs
      :items="breadCrumbs"
      large
      divider=">"
    />

    <h1 class="text-center">
      Edit post {{ post._id }}
    </h1>

    <v-form ref="form" v-model="valid" class="login-page__form mx-auto mt-10" @submit.native.prevent>
      <v-text-field
        v-model="model.title"
        label="Title"
        required
        :rules="[v => !!v || 'Title is required']"
      />
      <v-textarea
        v-model="model.text"
        outlined
        no-resize
        rows="10"
        row-height="15"
        label="Text in .md or .html format"
        :rules="[v => !!v || 'Text is required']"
        type="textarea"
        required
      />
      <div>
        <small>
          <v-icon
            color="secondary"
            class="mr-2"
          >
            mdi-calendar-range
          </v-icon>
          <span class="font-weight-bold">
            {{ new Date(post.date).toLocaleString() }}
          </span>
        </small>
        <small class="ml-5">
          <v-icon
            color="secondary"
            class="mr-2"
          >
            mdi-eye-outline
          </v-icon>
          <span class="font-weight-bold">
            {{ post.views }}
          </span>
        </small>
      </div>
      <v-btn
        :loading="editPostLoading"
        color="secondary"
        class="d-block ml-auto"
        @click="submit"
      >
        Update
      </v-btn>
    </v-form>
    <app-snackbar
      :snackbar="snackbar"
      @changeSnackbarState="changeSnackbarState"
    />
  </section>
</template>

<script>
import { mapActions } from 'vuex'
import AppSnackbar from '@/components/messager'

export default {
  components: {
    AppSnackbar
  },
  layout: 'admin',
  middleware: ['auth'],
  validate ({ params }) {
    return !!params.id
  },
  async asyncData ({ store, params }) {
    const post = await store.dispatch('posts/getPostById', params.id)
    return { post }
  },
  data () {
    return {
      snackbar: {
        state: false,
        snackbarColor: '',
        snackbarMessage: ''
      },
      editPostLoading: false,
      valid: true,
      model: {
        title: '',
        text: ''
      },
      breadCrumbs: [
        {
          text: 'Posts List',
          disabled: false,
          href: '/admin/list'
        },
        {
          text: this.post ? this.post.title : 'Post',
          disabled: true,
          href: '/admin/post/_id'
        }
      ]
    }
  },
  head () {
    return {
      title: this.post ? `Post | ${this.post.title}` : 'Post'
    }
  },
  methods: {
    ...mapActions({
      edit: 'posts/editAdminPost'
    }),
    changeSnackbarState (val) {
      this.snackbar.state = val
    },
    async submit () {
      const isValidForm = this.$refs.form.validate()
      if (isValidForm) {
        this.editPostLoading = true
        const formData = {
          title: this.model.title,
          text: this.model.text,
          id: this.post._id
        }

        try {
          await this.edit(formData)
          this.editPostLoading = false
          this.snackbar = {
            state: true,
            snackbarMessage: 'Post was edited',
            snackbarColor: 'success'
          }
        } catch (e) {
          this.editPostLoading = false
          this.snackbar = {
            state: true,
            snackbarMessage: e,
            snackbarColor: 'red'
          }
        }
      }
    }
  }
}
</script>
