<template>
  <v-card class="enterActiveClass pa-10">
    <span class="text-h4 secondary--text mb-5">Add comment</span>
    <v-form ref="form" v-model="valid" @submit.native.prevent>
      <v-text-field
        v-model="model.name"
        label="Name"
        required
        :rules="[v => !!v || 'Name is required']"
      />
      <v-textarea
        label="Comment"
        :rules="[v => !!v || 'Comment is required']"
        no-resize
        rows="3"
        :value="model.text"
      />
      <v-btn
        :loading="addCommentLoading"
        color="secondary"
        class="d-block ml-auto"
        @click="submit"
      >
        Submit
      </v-btn>
    </v-form>

    <app-snackbar
      :snackbar="snackbar"
      @changeSnackbarState="changeSnackbarState"
    />
  </v-card>
</template>

<script>
import AppSnackbar from '@/components/messager'

export default {
  name: 'CommentForm',
  components: {
    AppSnackbar
  },
  data: () => ({
    snackbar: {
      snackbarMessage: '',
      snackbar: false,
      snackbarColor: ''
    },
    addCommentLoading: false,
    valid: true,
    model: {
      name: '',
      text: ''
    },
    timeout: 2000
  }),
  methods: {
    changeSnackbarState (value) {
      this.snackbar.state = value
    },
    submit () {
      const isValidForm = this.$refs.form.validate()
      if (isValidForm) {
        this.addCommentLoading = true

        // const formData = {
        //   name: this.model.name,
        //   text: this.model.text,
        //   postId: ''
        // }

        try {
          setTimeout(() => {
            this.snackbar = {
              state: true,
              snackbarMessage: 'Comment was added',
              snackbarColor: 'success'
            }

            this.$emit('created')
          }, 2000)
        } catch (e) {
          this.addCommentLoading = false
          this.snackbar = {
            state: true,
            snackbarMessage: e,
            snackbarColor: 'red'
          }
        }
      }
    }
  }
}
</script>
