<template>
  <v-container>
    <v-row>
      <v-col cols="12">
        <v-card class="comment pa-3 mb-5">
          <header class="comment__header d-flex align-center justify-space-between pa-3">
            <v-avatar color="red">
              <span class="white--text headline">CJ</span>
            </v-avatar>
            <div class="comment__header__time">
              <span class="text-body-2">
                {{ new Date().toLocaleString() }}
              </span>
            </div>
          </header>
          <main class="comment-content pl-3 mt-3">
            <p>Lorem ipsum dolor sit amet, consectetur.</p>
          </main>
        </v-card>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
export default {
  name: 'Comment',
  props: ['comment']
}
</script>
