<template>
  <v-card class="posts-list">
    <v-img
      class="warning--text"
      src="https://bigseventravel.com/wp-content/uploads/2019/10/lucky-1.jpg"
    >
      <v-card-title class="justify-end">
        <span class="text-h4">
          Top Australian beaches
        </span>
      </v-card-title>
    </v-img>

    <v-card-subtitle class="pb-0">
      <span class="info--text text--disabled">
        #2
      </span>
    </v-card-subtitle>

    <v-card-text>
      <p>Keep an eye out for kangaroos lazing on the sand!</p>
    </v-card-text>

    <v-card-actions>
      <v-btn
        color="secondary"
        text
        @click="goToPost"
      >
        Explore
      </v-btn>
      <v-spacer />
      <div>
        <span>81</span>
        <v-btn icon>
          <v-icon>mdi-comment</v-icon>
        </v-btn>
      </div>
    </v-card-actions>
  </v-card>
</template>

<script>
export default {
  name: 'Post',
  methods: {
    goToPost () {
      const id = 'test-id'
      this.$router.push(`/post/${id}`)
    }
  }
}
</script>
