<template>
  <v-app dark>
    <v-app-bar
      app
      flat
    >
      <v-container class="py-0 fill-height">
        <v-avatar
          class="mr-10"
          color="secondary"
        >
          <span class="white--text headline">CJ</span>
        </v-avatar>

        <v-btn
          v-for="(link, i) in links"
          :key="i"
          text
          class="secondary--text"
          :to="link.path"
        >
          {{ link.name }}
        </v-btn>
        <v-spacer />
        <v-btn
          rounded
          color="secondary"
          outlined
          @click="adminLogout"
        >
          Exit
          <v-icon class="ml-3">
            mdi-logout-variant
          </v-icon>
        </v-btn>
      </v-container>
    </v-app-bar>

    <v-main class="">
      <v-container>
        <v-row>
          <v-col
            :cols="3"
            :sm="2"
            :lg="3"
            :xl="2"
          >
            <app-menu />
          </v-col>
          <v-col>
            <v-sheet
              min-height="70vh"
              rounded="lg"
            >
              <nuxt />
            </v-sheet>
          </v-col>
        </v-row>
      </v-container>
    </v-main>
  </v-app>
</template>

<script>
import { mapActions } from 'vuex'
import AppMenu from '@/components/admin/Menu'

export default {
  name: 'AdminLayout',
  components: {
    AppMenu
  },
  data: () => ({
    links: [
      {
        name: 'Dashboard',
        path: '/'
      }
    ]
  }),
  methods: {
    ...mapActions({
      logout: 'auth/logout'
    }),
    adminLogout () {
      this.logout()
      this.$router.push('/admin/login?message=logout')
    }
  }
}
</script>
