<template>
  <v-app dark>
    <v-app-bar app>
      <navigation />
    </v-app-bar>
    <v-main>
      <v-container>
        <nuxt />
      </v-container>
    </v-main>
  </v-app>
</template>

<script>
import Navigation from '@/components/blog/Navigation'
export default {
  components: {
    Navigation
  },
  data () {
    return {}
  }
}
</script>
