<template>
  <v-app dark>
    <h1 v-if="error.statusCode === 404">
      <v-img
        contain
        src="http://artismedia.by/blog/wp-content/uploads/2018/05/in-blog2-1.png"
        max-height="800px"
      ></v-img>
    </h1>
    <h1 v-else>
      {{ otherError }}
    </h1>
    <div class="w-100 text-center mt-10">
      <NuxtLink to="/">
        Home page
      </NuxtLink>
    </div>
  </v-app>
</template>

<script>
export default {
  layout: 'empty',
  props: {
    error: {
      type: Object,
      default: null
    }
  },
  data () {
    return {
      pageNotFound: '404 Not Found',
      otherError: 'An error occurred'
    }
  },
  head () {
    const title =
      this.error.statusCode === 404 ? this.pageNotFound : this.otherError
    return {
      title
    }
  }
}
</script>

<style scoped>
h1 {
  font-size: 20px;
}
</style>
