<template>
  <v-sheet rounded="lg" class="sidebar-menu">
    <v-list shaped color="transparent" :expand="true">
      <v-subheader>MENU</v-subheader>
      <v-list-item-group
        v-model="selectedItem"
        color="secondary"
      >
        <v-list-item
          v-for="(item, i) in menuItems"
          :key="i"
        >
          <NuxtLink :to="item.url" class="sidebar-menu__link">
            <v-list-item-icon class="d-flex justify-center">
              <v-icon v-text="item.icon" />
            </v-list-item-icon>
            <v-list-item-content v-if="!isCollapse">
              <v-list-item-title v-text="item.text" />
            </v-list-item-content>
          </NuxtLink>
        </v-list-item>
      </v-list-item-group>
    </v-list>
  </v-sheet>
</template>

<script>
export default {
  name: 'Menu',
  data: () => ({
    selectedItem: 0,
    isCollapse: false,
    menuItems: [
      { text: 'Analytics', icon: 'mdi-google-analytics', url: '/admin' },
      { text: 'Create post', icon: 'mdi-pencil', url: '/admin/create' },
      { text: 'Posts list', icon: 'mdi-clipboard-list', url: '/admin/list' },
      { text: 'Users list', icon: 'mdi-account', url: '/admin/users' }
    ]
  }),
  mounted () {
    window.addEventListener('resize', this.collapseSidebar)
    this.collapseSidebar()
  },
  beforeDestroy () {
    window.removeEventListener('resize', this.collapseSidebar)
  },
  methods: {
    collapseSidebar () {
      if (window.innerWidth < 1264) {
        this.isCollapse = true
      } else {
        this.isCollapse = false
      }
    }
  }
}
</script>
