<template>
  <v-row justify="center" align="center">
    <v-col md="10" xl="8">
      <post />
    </v-col>
  </v-row>
</template>

<script>
import Post from '@/components/blog/Post'
export default {
  components: {
    Post
  },
  head: {
    title: 'Main'
  }
}
</script>
